<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>CALENDAR WORKING</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            {% for item in rows %}
            <td>{{ item[1] }}</td>
            <td>{{ item[2].strftime("%H:%M")}}</td>
            <td>{{ item[3].strftime("%H:%M")}}</td>
            {%endfor%}
        </tbody>
    </table>
</body>

</html>
